:root{
    --colorRest : #40bb34;
}
@font-face {
    font-family: "jersey";
    src: url("Jersey10-Regular.ttf");
  }

*{
    font-family: jersey,monospace,cursive,system-ui,auto;
}
p{
    padding: 0px;
    margin: 0px;
}
body{
    background: #262626;
    margin: 0px;
}
header{
    background: #171717;
    height: 10vh;
    font-size: 5vh;
    color: #dcdcdc;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    margin: 3vh;
    height: 40vh;
    background: rgb(1 1 12);
    color: white;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.board{
    margin-top: 3vh;
    height: 40vh;
    /*background: rgb(154, 7, 7);*/

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    
}

.ContButtons{
    height: 2vh;

    /*background: rgb(0, 66, 128);*/
    margin: 1vh;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ContEnterResetButtons{
    margin: 0px;
}
.EnterResetButtons{
    height: 5vh;
    width: 5vh;
    background: #202020;
    
    color: #390606;
    font-size: 3vh;

    text-align: center;
    
    
    padding-top: 0.5vh;

    border: 0px;
    border-bottom: 0.6vh solid rgb(23, 23, 23);
    border-top: 0.6vh solid rgb(49, 49, 49);
}
.button{
    height: 10vh;
    width: 10vh;
    background: #202020;
    margin-top: 7vh;

    color: #390606;
    font-size: 7vh;
    font-stretch: ultra-expanded;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 9vh;
    border: 0px;
    border-bottom: 1vh solid #171717;
    border-top: 1vh solid #313131;
 
}

.OP{
    margin: 1vh;
    padding: 0.8vh;
    
}
.OPSELECT{
    border: 0.3vh dashed var(--colorRest);
    box-shadow: 0px 0px 1.5vh var(--colorRest);
    padding: 0.5vh;
}

CR{
    color: var(--colorRest);
    font-size: 2.3vh;
}
.arrowSpace{
    /*background: green;*/
    width: inherit;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}
.arrow{
    /*background: red; */
    width: 100%; 
    height: 6vh; 
    margin: 2vh;
    color: white;
    font-size: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.timer{
    
    font-family: jersey,monospace,cursive,system-ui,auto;
    color: #00be00;
    position: relative;
    left: 0px;
    align-self: center;
    font-size: 3vh;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 4vh;
    
}
.game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.contStack{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 90%;
    width: 100%;
    margin: 2vh;
}
.post{
    /*background: #a18666;*/
    height: 90%;
    width: 100%;
    margin: 2vh;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
}



.base{
    /* background-color: rgb(104, 73, 48); */
    width: 100%;
    height: 1.7vh;
    margin: 0px;
    border: 0.3vh solid rgb(104, 73, 48);
}


.disc{
    width: 10%;
    margin-top: 0.3vh;
    height: 1vh;
    border: 0.3vh dashed goldenrod;
}

.endGame{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.time-result{
    color:#00e700;
    font-size: 3.5vh;
}

.infoL{
    margin-left: 2vh;
}

#MensInf{
    height: 80vh;
    width: 80vh;
    

    background: #101010;
    border: 0.2vh solid grey;
    color: white;

    overflow-y: hidden;
}

.HeaderMensInf{
    height: 30px; 
    width: 100%;

    color: white;
    background:linear-gradient(180deg, #181818, #373737); 
    
    text-align: right;
    /*position:fixed;*/
}

.container-top-times{
    background: #00800514;
    width: 250px;
    height: 100%;
    position: absolute;
    justify-content: center;
    right: 0px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.line-top-time{
    display: flex;
    justify-content: space-around;
}
.line-top-time.title{
    background: #00800063;
}

.data-top-time{
    font-size: 2.5vh;
    margin: 1px;
    margin-right: 5px;
    color:#00be00;
    /* text-shadow: 1px 1px 1px #00f2006a; */
    flex:1;
    text-align: center;
    
}

.load-icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid green;
    position: relative;
    align-self: center;
    display: flex;
}
.load-icon-top{
    width: 70%;
    height: 20px;
    background: #010b0b;
    align-self: center;
    position: absolute;
    left: -10px;
    animation: spin 2s infinite linear;
    transform-origin: center right;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 770px) {
    .container-top-times{
        height: 150px;
        position: relative;
        justify-content: normal;
    } 
}